# Database Configuration
POSTGRESQL_USER=user
POSTGRESQL_PASSWORD=password
POSTGRESQL_HOST=host
POSTGRESQL_PORT=port
POSTGRESQL_DATABASE=database

# REDIS
REDIS_HOST=redis_host
REDIS_PORT=redis_port
REDIS_PASSWORD=redis_password

# JWT
JWT_ACCESS_TOKEN_SECRET=access_secret
JWT_REFRESH_TOKEN_SECRET=refresh_secret

# CORS
CORS_ORIGIN=domain

# ENVIRONMENT
NODE_ENV=development
